# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [62]:
df = pd.read_csv("../output_data/cities.csv")
df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Tasiilaq,65.6145,-37.6368,19.40,49,90,3.44,GL,1610276240
1,1,Rikitea,-23.1203,-134.9692,78.15,77,94,14.72,PF,1610276241
2,2,La Ronge,55.1001,-105.2842,14.00,85,0,2.30,CA,1610276242
3,3,Jamestown,42.0970,-79.2353,24.01,100,1,5.75,US,1610276229
4,4,Pevek,69.7008,170.3133,-24.57,87,100,3.78,RU,1610276243
...,...,...,...,...,...,...,...,...,...,...
527,1083,Bredasdorp,-34.5322,20.0403,71.60,49,97,9.22,ZA,1610277033
528,1087,Tchaourou,8.8865,2.5975,100.81,20,0,1.74,BJ,1610277035
529,1091,Port Hardy,50.6996,-127.4199,44.60,93,90,20.71,CA,1610277000
530,1093,Cabo San Lucas,22.8909,-109.9124,64.15,53,0,6.53,MX,1610277040
531,1108,Carnarvon,-24.8667,113.6333,82.40,78,6,26.46,AU,1610277053

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [66]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = df[["Lat", "Lng"]]

humidity = df["Humidity"].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [68]:
heat_layer.max_intensity=100
heat_layer.point_radius=4

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_df = df.loc[(df["Max Temp"]>= 68) & (df["Max Temp"]<= 77) & (df["Wind Speed"] < 8) & (df["Cloudiness"] < 1), :]
ideal_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
75,109,Kosum Phisai,16.2486,103.0674,77.00,50,0,4.61,TH,1610276317
119,180,Clarence Town,-32.5833,151.7833,72.00,83,0,5.75,AU,1610276364
177,293,Mar del Plata,-38.0023,-57.5575,69.01,88,0,5.75,AR,1610276287
228,436,Marsá Maţrūḩ,31.3525,27.2453,73.40,43,0,5.75,EG,1610276551
271,500,Mar del Plata,-38.0023,-57.5575,69.01,88,0,5.75,AR,1610276351
272,501,Kiryat Gat,31.6100,34.7642,75.00,54,0,1.99,IL,1610276404
340,614,Flinders,-34.5833,150.8552,68.00,77,0,4.61,AU,1610276686
343,619,Qena,26.1615,32.7183,75.20,43,0,2.30,EG,1610276689
404,738,Saint-Louis,16.3333,-15.0000,68.00,49,0,6.91,SN,1610276773
419,776,Antri,26.0567,78.2144,73.54,45,0,6.60,IN,1610276798
451,841,Sarandi,-23.4436,-51.8739,75.20,83,0,3.44,BR,1610276831
461,863,Veinticinco de Mayo,-35.4323,-60.1727,72.00,72,0,4.00,AR,1610276862

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [51]:
hotel_df = ideal_df.copy()
hotel_df["Hotel Name"] = ""
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
75,109,Kosum Phisai,16.2486,103.0674,77.00,50,0,4.61,TH,1610276317,
119,180,Clarence Town,-32.5833,151.7833,72.00,83,0,5.75,AU,1610276364,
177,293,Mar del Plata,-38.0023,-57.5575,69.01,88,0,5.75,AR,1610276287,
228,436,Marsá Maţrūḩ,31.3525,27.2453,73.40,43,0,5.75,EG,1610276551,
271,500,Mar del Plata,-38.0023,-57.5575,69.01,88,0,5.75,AR,1610276351,
272,501,Kiryat Gat,31.6100,34.7642,75.00,54,0,1.99,IL,1610276404,
340,614,Flinders,-34.5833,150.8552,68.00,77,0,4.61,AU,1610276686,
343,619,Qena,26.1615,32.7183,75.20,43,0,2.30,EG,1610276689,
404,738,Saint-Louis,16.3333,-15.0000,68.00,49,0,6.91,SN,1610276773,
419,776,Antri,26.0567,78.2144,73.54,45,0,6.60,IN,1610276798,
451,841,Sarandi,-23.4436,-51.8739,75.20,83,0,3.44,BR,1610276831,
461,863,Veinticinco de Mayo,-35.4323,-60.1727,72.00,72,0,4.00,AR,1610276862,

In [52]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng from hotel_df to find nearby hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "hotel" and iterate through lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and convert to json
    name_address = requests.get(base_url, params=params).json()

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        hotel_df.loc[index, "Hotel Name"] = None

Missing field/result... skipping.
Missing field/result... skipping.

In [54]:
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
75,109,Kosum Phisai,16.2486,103.0674,77.00,50,0,4.61,TH,1610276317,Banrao
119,180,Clarence Town,-32.5833,151.7833,72.00,83,0,5.75,AU,1610276364,Erringhi Hotel
177,293,Mar del Plata,-38.0023,-57.5575,69.01,88,0,5.75,AR,1610276287,Hotel Las Rocas
228,436,Marsá Maţrūḩ,31.3525,27.2453,73.40,43,0,5.75,EG,1610276551,Beau Site
271,500,Mar del Plata,-38.0023,-57.5575,69.01,88,0,5.75,AR,1610276351,Hotel Las Rocas
272,501,Kiryat Gat,31.6100,34.7642,75.00,54,0,1.99,IL,1610276404,Desert Gat
340,614,Flinders,-34.5833,150.8552,68.00,77,0,4.61,AU,1610276686,Shellharbour Resort & Conference Centre
343,619,Qena,26.1615,32.7183,75.20,43,0,2.30,EG,1610276689,Movenpick MS Hamees
404,738,Saint-Louis,16.3333,-15.0000,68.00,49,0,6.91,SN,1610276773,None
419,776,Antri,26.0567,78.2144,73.54,45,0,6.60,IN,1610276798,None
451,841,Sarandi,-23.4436,-51.8739,75.20,83,0,3.44,BR,1610276831,HOTEL GRALHA AZUL (GAPH) - Maringá
461,863,Veinticinco de Mayo,-35.4323,-60.1727,72.00,72,0,4.00,AR,1610276862,Gran Hotel 25 de Mayo

In [55]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [63]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add marker layer ontop of heat map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))