# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
df = pd.read_csv("../output_data/cities.csv")
df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Port Alfred,-33.5906,26.8910,66.00,86,95,17.94,ZA,1610336971
1,1,Mataura,-46.1927,168.8643,57.99,70,77,14.00,NZ,1610336971
2,2,Busselton,-33.6500,115.3333,75.99,44,1,1.01,AU,1610336969
3,4,Upernavik,72.7868,-56.1549,11.79,86,99,13.76,GL,1610336973
4,5,Bela Vista,-22.1089,-56.5211,79.48,72,78,5.84,BR,1610336973
...,...,...,...,...,...,...,...,...,...,...
474,1094,Salinas,36.6777,-121.6555,55.40,67,1,3.44,US,1610337601
475,1095,Beringovskiy,63.0500,179.3167,-21.05,84,7,13.67,RU,1610337603
476,1096,Bhadrāchalam,17.6667,80.8833,79.12,49,84,1.83,IN,1610337421
477,1101,Moissac,44.1024,1.0945,28.00,93,0,4.61,FR,1610337606
478,1103,Madison,34.7334,-86.5667,36.00,69,90,5.75,US,1610337480

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = df[["Lat", "Lng"]]

humidity = df["Humidity"].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
heat_layer.max_intensity=100
heat_layer.point_radius=4

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
ideal_df = df.loc[(df["Max Temp"]>= 68) & (df["Max Temp"]<= 77) & (df["Wind Speed"] < 8) & (df["Cloudiness"] < 1), :]
ideal_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
79,123,Vieux-Habitants,16.0589,-61.7659,73.40,83,0,3.44,GP,1610337045
92,148,Wai,17.9333,73.9000,75.51,51,0,3.62,IN,1610337060
144,254,Makkah al Mukarramah,21.4267,39.8261,70.12,39,0,4.99,SA,1610336996
145,255,Rio Grande,-32.0350,-52.0986,77.00,87,0,1.01,BR,1610337120
154,273,Santarém,-2.4431,-54.7083,73.40,100,0,3.67,BR,1610337130
240,457,Yenagoa,4.9247,6.2642,75.22,94,0,1.86,NG,1610337233
338,712,Diapaga,12.0708,1.7889,71.31,21,0,6.98,BF,1610337378
416,907,Mazagão,-0.1150,-51.2894,77.00,94,0,2.30,BR,1610337491

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
hotel_df = ideal_df.copy()
hotel_df["Hotel Name"] = ""
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
79,123,Vieux-Habitants,16.0589,-61.7659,73.40,83,0,3.44,GP,1610337045,
92,148,Wai,17.9333,73.9000,75.51,51,0,3.62,IN,1610337060,
144,254,Makkah al Mukarramah,21.4267,39.8261,70.12,39,0,4.99,SA,1610336996,
145,255,Rio Grande,-32.0350,-52.0986,77.00,87,0,1.01,BR,1610337120,
154,273,Santarém,-2.4431,-54.7083,73.40,100,0,3.67,BR,1610337130,
240,457,Yenagoa,4.9247,6.2642,75.22,94,0,1.86,NG,1610337233,
338,712,Diapaga,12.0708,1.7889,71.31,21,0,6.98,BF,1610337378,
416,907,Mazagão,-0.1150,-51.2894,77.00,94,0,2.30,BR,1610337491,

In [13]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng from hotel_df to find nearby hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "hotel" and iterate through lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and convert to json
    name_address = requests.get(base_url, params=params).json()

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        hotel_df.loc[index, "Hotel Name"] = None

Missing field/result... skipping.

In [15]:
hotel_df = hotel_df.dropna(how="any")
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
79,123,Vieux-Habitants,16.0589,-61.7659,73.40,83,0,3.44,GP,1610337045,PARADIS TROPICAL
92,148,Wai,17.9333,73.9000,75.51,51,0,3.62,IN,1610337060,"Rutugandh River View Resort, Wai"
144,254,Makkah al Mukarramah,21.4267,39.8261,70.12,39,0,4.99,SA,1610336996,Pullman Zamzam Makkah
145,255,Rio Grande,-32.0350,-52.0986,77.00,87,0,1.01,BR,1610337120,Laghetto Viverone Rio Grande
154,273,Santarém,-2.4431,-54.7083,73.40,100,0,3.67,BR,1610337130,Hotel Palace Santarém
240,457,Yenagoa,4.9247,6.2642,75.22,94,0,1.86,NG,1610337233,De Brass Suites
338,712,Diapaga,12.0708,1.7889,71.31,21,0,6.98,BF,1610337378,Diapaga

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add marker layer ontop of heat map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))